certifi==2020.12.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
chardet==4.0.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
click==7.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0"
icmplib==2.0.2; python_version >= "3.6"
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pydantic==1.8; python_full_version >= "3.6.1"
pygments==2.8.0; python_version >= "3.6" and python_version < "4.0"
requests==2.25.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
rich==9.12.3; python_version >= "3.6" and python_version < "4.0"
speedtest-cli==2.1.2
typing-extensions==3.7.4.3; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1"
urllib3==1.26.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
